.attribution {
  font-size: 12px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background-color: rgb(242, 230, 217);
  margin: 0;
  padding: 0;
}

main {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 16px;
}

.container {
  margin-top: 100px;
  background-color: white;
  border-radius: 10px;
  font-family: outfit;
  width: 650px;
  padding: 30px;
}
@media(max-width:375px){
  .container{
    width: 100%;
    margin: 0;
    border-radius: 0px;
  }
}
.container img {
  width: 100%;
  border-radius: 10px;
}

h1 {
  font-family: "Young Serif", serif;
  color:hsl(24, 5%, 18%);
}

.container-preparation-time {
  margin-top: 30px;
  background-color: rgb(248, 238, 243);
  padding: 5px 30px;
}
.prep-time-heading {
  color: hsl(14, 45%, 36%);
  font-size: 18px;
  font-family: outfit;
}
.container-preparation-time ul{
    padding-left: 16px;
}

h2 {
  color: hsl(14, 45%, 36%);
  font-family: "Young Serif", serif;
  margin-bottom: 0;
  
}
.container-ingredients, .container-instructions{
    border-bottom: 1px solid grey;
}

.container-ingredients ul,
.container-instructions ol{
    padding-left: 18px;
}

ul, ol{
    margin-top: 0;
}
ul li, ol li {
    margin-top: 25px;
}

table {
    border-collapse: collapse;
    width: 100%; /* Prilagodite širinu tabele prema potrebi */
    margin: 20px 0; /* Dodajte marginu prema potrebi */
}

th, td {
    border-bottom: 1px solid grey;
    padding: 8px;
    text-align: left;
    font-weight: 400;
}
td{
    
    font-weight: 600;
    color:hsl(14, 45%, 36%);
}
